.search-form {
  text-align: center;
  font-size: 24px;
}
.section-form {
  background-color: rgba(60, 0, 255, 0.852);
  padding-top: 40px;
  padding-bottom: 40px;
}
.gallery {
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.info {
  width: 350px;
  border-bottom: 1px solid #c3c2c2;
  border-left: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  padding-left: 10px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}
.photo {
  width: 350px;
  height: 250px;
  display: block;
}
.btnLoadMore {
  margin: 20px auto;
  text-align: center;
  color: blue;
}
